.test
{
    margin: 0;
    width: 5500px;
    overflow: scroll;
    height: 100vh;
    background-image: url('../images/land.png');
    position: absolute;
}

.gallery
{
    position: absolute;
    margin: 0;
    width: 5500px;
    overflow: scroll;
    height: 800px;
}

.gallery_hero
{
    width: 480px;
    filter: grayscale(100%);
}

.hero_0
{
    z-index: 10;
    filter: none;
}

.hero_1
{
    margin-bottom: 400px;
    margin-left: -260px;
    margin-right: -200px;
    z-index: 1;
}

.hero_2
{
    margin-bottom: 0px;
    margin-left: -100px;
    margin-right: 100px;
    z-index: 1;
}

.hero_3
{
    margin-bottom: 0px;
    margin-left: 160px;
    z-index: 1;
}

.hero_4
{
    margin-bottom: 0px;
    margin-left: -360px;
    z-index: 1;
    width: 800px;
}


.hero_5
{
    margin-bottom: 0px;
    margin-left: -260px;
    margin-right: -100px;
    z-index: 1;
    width: 600px;
}

.hero_6
{
    width: 700px;
}

.hero_8
{
    width: 650px;
}

.hero_9
{
    margin-bottom: 0px;
    margin-left: -260px;
    margin-right: -100px;
    z-index: 1;
    width: 900px;
}