nav
{
    position: absolute;
    top: 100px;
    left: 100px;
}

.bar1
{
    width: 50px;
    height: 5px;
    background: black;
}

.bar2
{
    width: 30px;
    height: 5px;
    background: black;
    margin-top: 5px;
}