header{
    background: url('../images/cinema.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

    h1{
        font-family: $trade;
        font-size: $title;
        color: #ffffff;
    }
}

main{
    display: flex;
    padding: 50px;

    .map{
        width: calc(40vw - 50px);
        height: calc(60vw - 50px);
        background: $red;
    }

    .zipcode
    {
        border-bottom: 1px solid #6E6E6E;
        margin-left: 60px;
        margin-bottom: 30px;
        margin-right: 20px;
        font-family: Gotham_Book, Arial;
        color: black;
    }

    .submit
    {
        padding: 7px 10px 20px 10px;
        background: $red;
        color:white;
        font-family: Gotham_Bold, Arial;
        cursor: pointer;
    }
    
    .zipcode::placeholder
    {
        font-family: Gotham_Book, Arial;
        color: #A7A7A7;
    } 
        .error{
        margin-left: 50px;
        margin-bottom: 20px;
        width: calc(60vw - 100px);
        color: $red;
        font-family: Gotham_Book, Arial;
        font-size: $text;
    }
    
    .cinema{
        margin-left: 50px;
        margin-bottom: 20px;
        width: calc(60vw - 100px);
        padding: 10px;

        .name{
            color: $black;
            text-align: left;
            font-size: $big_text;
            margin-top: 0;
        }

        .address{
            color: $red;
            font-family: Gotham_Book, Arial;
            font-size: 14px;
        }
    }

    .showtimes{
        overflow-x: scroll;
        width: 100%;
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: left;

        .showtime{
            min-width: 100px;
            min-height: 100px;
            background: #EBEBEB;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-right: 5px;
            

            .day{
                color: $red;
                font-family: $trade;
                font-size: 24px;
            }

            .hour{
                display: inline-block;
                margin: 5px 0;
                color: #404040;
                font-family: Gotham_Book, Arial;
                font-size: $text;
            }

            .ticket{
                padding: 5px;
                height: 26px;
                background: $red;
                color: #ffffff;
                font-family: Gotham_Bold, Arial;
                font-size: $text;
                cursor: pointer;
            }
        }
    }
}

.theatres-data
{
    display: none;
}