header.annecdotes{
    height: 80vh;
    background: url('../images/anecdotes/background.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .overlay{
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.4);
        display: flex;
        align-items: center;
        justify-content: center;

        .text{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            h1{
                font-family: $trade;
                font-size: $title;
                text-align: center;
            }

            h2{
                width: 100%;
                margin-top: 0;
                text-align: right;
                font-family: $trade;
                font-size: $big_text;
            }
        }
    }
}

main.container{
    display: flex;
    flex-wrap: wrap;
}

.main-anecdotes
{
    display: flex;
    align-items: center;
    width: 90%;
    margin: 50px auto;

    .fluid-container
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        overflow: hidden;
        
        img{
            
        }
    }

    .text-box{
        margin-left: 60px;

        .title-anecdotes
        {
            font-size: 46px;
            font-family: Trade, Arial;
        }

        .text-anecdotes
        {
            font-family: Gotham_Book, Arial;
            font-size: 16px;
            margin-top: 20px;
            color: $grey;
            width: 400px;
            display: inline-block;
            line-height: 1.5;
        }
    }

    &.half{
        width: 40%;
        flex-direction: column;

        .fluid-container{
            width: 100%;
        }

        .text-box{
            margin-top: 20px;
            margin-left: 0;
        }
    }

    &.js-scrollpop{
        transform: translate(100px);
        opacity: 0;
        transition: transform 0.4s ease-out, opacity 0.4s ease-out;
        will-change: transform;
        &:nth-child(2n){
            transform: translate(-100px);
        }
    }
}
