@import 'variables';
@import 'home';
@import 'nav';
@import 'hero';
@import 'gallery';
@import 'anecdotes';
@import 'showtimes';

@font-face {
    font-family: Gotham_Bold;
    src: url(../fonts/Gotham-Bold.otf);
}
@font-face {
    font-family: Gotham_Book;
    src: url(../fonts/Gotham-Book.otf);
}

@font-face {
    font-family: Trade;
    src: url(../fonts/Trade.otf);
}

.loader-container{
    background-color: $black;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    will-change: opacity;
    transition: opacity 0.8s ease;
    pointer-events: none;
    user-select: none;

    #loader{
      width:220px;
      height:220px;
      display:block;
      overflow: hidden;
      transform: translate3d(0,0,0);
      text-align: center;
    }
}

.disclaimer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: $black;
    z-index: 800;

    img{
        display: inline-block;
        position: absolute;
        width: 200px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 850;
    }

    p{
        position: absolute;
        width: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 900;
        font-family: $trade;
        font-size: 18px;
        text-align: center;
        color: #ffffff;
    }
}